.home {
    background: url('./gettyimages-1283947331-scaled.jpg');
    background-size: cover !important;
    background-position: center !important;
    position: relative;
    min-height: 100vh; /* Default minimum height */
}

.home::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    background-color: rgba(0, 0, 0, 0.9);
}
